## Basic For Loop

https://www.dataquest.io/blog/python-for-loop-tutorial/

What Are For Loops?

In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.

(An interable object, by the way, is any Python object we can iterate through, or “loop” through, and return a single element at a time. Lists, for example, are iterable and return a single list entry at a time, in the order entries are listed. Strings are iterable and return one character at a time, in the order the characters appear. Etc.)

In [1]:
our_list = ['Lily', 'Brad', 'Fatima', 'Zining']
for name in our_list:
    print(name)

Lily
Brad
Fatima
Zining

In [2]:
for letter in 'Lily':
    print(letter)

L
i
l
y



## Using For Loops with Lists of Lists
In actual data analysis work, it’s unlikely that we’re going to be working with short, simple lists like the one above, though. Generally, we’ll have to work with data sets in a table format, with multiple rows and columns. This kind of data can be stored in Python as a list of lists, where each row of a table is stored as a list within the list of lists, and we can use for loops to iterate through these as well.

In [3]:
ev_data =[['vehicle', 'range', 'price'],
          ['Tesla','310','49900'],
          ['Hyundai','124','30315'],
          ['Chevy Bolt','238','36620']]

In [4]:
print(ev_data)

[['vehicle', 'range', 'price'], ['Tesla', '310', '49900'], ['Hyundai', '124', '30315'], ['Chevy Bolt', '238', '36620']]

In [5]:
print(ev_data[0])

['vehicle', 'range', 'price']

In [6]:
print(ev_data[0][0])

vehicle

In [7]:
for row in ev_data[1:]:
    print(row)

['Tesla', '310', '49900']
['Hyundai', '124', '30315']
['Chevy Bolt', '238', '36620']

In [8]:
ev_conv = ev_data 
for row in ev_conv[1:]:
    print('\nBefore conversion to integer')
    print(row)
    ev_range = row[1]
    print('After conversion to integer')
    row[1] = int(ev_range)
    print(row)

Before conversion to integer
['Tesla', '310', '49900']
After conversion to integer
['Tesla', 310, '49900']

Before conversion to integer
['Hyundai', '124', '30315']
After conversion to integer
['Hyundai', 124, '30315']

Before conversion to integer
['Chevy Bolt', '238', '36620']
After conversion to integer
['Chevy Bolt', 238, '36620']

In [9]:
# note that ev_data is changed to new value also?????
print(ev_data)

[['vehicle', 'range', 'price'], ['Tesla', 310, '49900'], ['Hyundai', 124, '30315'], ['Chevy Bolt', 238, '36620']]

In [10]:
sum = 0
for row in ev_conv[1:]:
    sum += row[1]

print('Total range = ', sum)
print('Average range = ', sum/(len(ev_conv)-1))

Total range =  672
Average range =  224.0

In [11]:
# creat long rang list of cars
long_range_list = []
for row in ev_conv[1:]:
    if row[1]>200:
        long_range_list.append(row)
        
print(long_range_list)

[['Tesla', 310, '49900'], ['Chevy Bolt', 238, '36620']]

In [12]:
# Range
for x in range(5,9):
    print(x)

5
6
7
8

In [13]:
for x in range(3):
    print(x)

0
1
2

## Break
By default, a Python for loop will loop through each possible iteration of the interable object you’ve assigned it. Normally when we’re using a for loop, that’s fine, because we want to perform the same action on each item in our list (for example).

Sometimes, though, we may want to stop your loop if a certain condition is met. In that circumstance, the break statement is useful. When used with an if statement inside of a for loop, break allows us to break out of that loop before its conclusion.

In [14]:
long_range_car_list = []    # creating our empty long-range car list again

for row in ev_data[1:]:     # iterate through ev_data as before looking for cars with a range > 200
    ev_range = row[1]
    if ev_range > 200:
        long_range_car_list.append(row)
    if 'Tesla' in row[0]:   # but if 'Tesla' appears in the vehicle column, end the loop
            break

print(long_range_car_list)

[['Tesla', 310, '49900']]

## Continue
When we’re looping through an iterable object like a list, we might also encounter situations where we’d like to skip a particular row or rows. For simple situations like skipping a header row, we can use list slicing, but if we want to skip rows based on more complex conditions, this quickly becomes impractical. Instead, we can use the continue statement to skip a single iteration (“loop”) of a for loop and move to the next.

When Python sees continue while executing a for loop on a list, for example, it will stop at that point and move on to the next item on the list. Any code that comes below the continue will not be executed.

In [15]:
short_range_car_list = []               # creating our empty short-range car list

for row in ev_data[1:]:                 # iterate through ev_data as before
    ev_range = row[1]
    if ev_range > 200:                  #  if the car has a range of > 200
        continue                        # end the loop here; do not execute the code below, continue to the next row
    short_range_car_list.append(row)    # append the row to our short-range car list


print(short_range_car_list)

[['Hyundai', 124, '30315']]